<br><br><div class="container"><br>

  <br><br><br><%= @story.title %> by <%= @story.user.name %><br><br><br>
  <%= @story.summary %><br><br><br>
  <% @story.segments.where(parent_id: 0).each do |segment| %>
    <a href=<%= "/story/#{@story.id}/segment/#{segment.id}" %>><%= segment.body[0..20] + "..."  %></a><br>
  <% end %>

  <br><br>

  <div class="button"><a href=<%= "/story/#{@story.id}/segment/0/new" %>>Add Segment</a></div>
  
</div>
