<div class="container"><br>

  <h2><%= @story.title %></h2>
  <h3>by <%= @story.user.name %></h3>
  <h4>Summary</h4>
  <p><%= @story.summary %></p>
  
</div>

<%= erb :testing if @segment %>


<script type="text\javascript">
  var story = <%= @story.to_json %>;
  segment.parent_id = 0 if segment.parent_id == null;
  document.write('<form action="/story/' + story.id + '/segment/' + segment.parent_id + '/new" method="post">');
</script>

<div class="container create">
  <h3>Write something!</h3>
  <form action=<%="/story/#{@story.id}/segment/#{@segment.id}/new"%> method="post">
    <br>
    <textarea rows="4" cols="40" name="body" placeholder="What happens next?"></textarea><br><br>
    <input type="submit" value="Submit">
  </form>
</div>

<script type="text\javascript">
    var story = <%= @story.to_json %>;
    segment.parent_id = 0 if segment.parent_id == null;
    document.write(segment.parent_id);
</script>